In [6]:
import pandas as pd
import numpy as np

In [25]:
df_clients = pd.read_csv(r"C:\Users\vanes\Documents\Formation DATA ANALYST by DATABIRD\Projet final BOLT\Data\databird-synthesized-customers-aggregated-extract.csv"
                )
df_clients.head()

  year_month merchant_name order_item_delivery_address_region  count_customers
0    2017-01     deliveroo                        idf - paris              544
1    2017-01     deliveroo                  idf - rest of idf              121
2    2017-01     deliveroo                       other region              636
3    2017-01      just eat                        idf - paris              167
4    2017-01      just eat                  idf - rest of idf              358

In [28]:
df_clients.shape # nbres de lignes et de colonnes

(378, 4)

In [31]:
df_clients.dtypes # Types de chaques colonnes

year_month                            object
merchant_name                         object
order_item_delivery_address_region    object
count_customers                        int64
dtype: object

In [26]:
df_produits = pd.read_csv(r"C:\Users\vanes\Documents\Formation DATA ANALYST by DATABIRD\Projet final BOLT\Data\databird-synthesized-products-extract.csv")
df_produits.head()

,f0_,id_order,product_name,product_description,merchant_name
0,2017-01-01,AVkmcB3KFSf772cTh6V2M9yGwuQ=,toast goody woody,NaN,deliveroo
1,2017-01-01,CQeMFF72l4u80Ae4mnVLhnTzqx0=,soupe miso,sauce soja,deliveroo
2,2017-01-01,CQeMFF72l4u80Ae4mnVLhnTzqx0=,salmon lovers,"sauce soja sucree, baguettes, sauce soja sucre...",deliveroo
3,2017-01-01,CQeMFF72l4u80Ae4mnVLhnTzqx0=,super mix,any three skewers with lamb & chicken doner se...,deliveroo
4,2017-01-01,CQeMFF72l4u80Ae4mnVLhnTzqx0=,salade de choux,NaN,deliveroo

In [32]:
df_produits.shape # nbres de lignes et de colonnes

(1711616, 5)

In [33]:
df_produits.dtypes # Types de chaques colonnes

f0_                    object
id_order               object
product_name           object
product_description    object
merchant_name          object
dtype: object

In [27]:
df_transactions = pd.read_csv(r"C:\Users\vanes\Documents\Formation DATA ANALYST by DATABIRD\Projet final BOLT\Data\databird-synthesized-transactions-extract.csv")
df_transactions.head()

,row_nb,synthetic_gender,synthetic_age_generation,is_loyalty_deliveroo,merchant_name,order_date,order_time,order_total_paid,order_currency,payment_method_name,...,order_total_fees,order_total_promo,seller_name,seller_category_name,order_item_delivery_address_region,order_item_delivery_address_subregion,order_item_delivery_address_city,is_customer_month_ubereats,is_customer_month_justeat,is_customer_month_deliveroo
0,1,2.0,Gen. Y - [1980-1994],NaN,deliveroo,2020-01-15,12:00:00,10.3,eur,NaN,...,0.0,0.0,thai in box,asian - thai,ile de france,hauts de seine,sevres,0,0,1
1,2,1.0,Gen. Z - [1995-2010],NaN,uber eats,2019-01-24,19:00:00,7.6,eur,payment card - visa,...,2.5,5.0,nanbab - villeurbanne,asian - indian,auvergne rhone alpes,rhone,villeurbanne,1,0,1
2,3,1.0,Gen. Z - [1995-2010],NaN,uber eats,2020-02-05,12:00:00,10.6,eur,paypal,...,3.7,0.0,los tacos,latin american - mexican,grand est,meurthe et moselle,maxeville,1,0,0
3,4,1.0,Gen. Y - [1980-1994],NaN,just eat,2019-01-11,21:00:00,0.0,eur,NaN,...,NaN,0.0,NaN,NaN,ile de france,val d oise,cergy,0,1,0
4,5,NaN,Gen. Z - [1995-2010],NaN,deliveroo,2019-12-15,20:00:00,25.3,eur,NaN,...,2.5,4.0,o'tacos,latin american - mexican,ile de france,seine saint denis,aubervilliers,0,0,1

In [34]:
df_transactions.shape # nbres de lignes et de colonnes

(807676, 22)

In [35]:
df_transactions.dtypes # Types de chaques colonnes

row_nb                                     int64
synthetic_gender                         float64
synthetic_age_generation                  object
is_loyalty_deliveroo                     float64
merchant_name                             object
order_date                                object
order_time                                object
order_total_paid                         float64
order_currency                            object
payment_method_name                       object
order_delivery_fee                       float64
order_processing_fee                     float64
order_total_fees                         float64
order_total_promo                        float64
seller_name                               object
seller_category_name                      object
order_item_delivery_address_region        object
order_item_delivery_address_subregion     object
order_item_delivery_address_city          object
is_customer_month_ubereats                 int64
is_customer_month_justeat                  int64
is_customer_month_deliveroo                int64
dtype: object